/* 工具 */
.clearfix:after{
    content:'';
    display:block;
    clear:both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}


/* margin */
.mr_10{
    margin-right: 10px;
}

.mb_10{
    margin-bottom: 10px;
}

/* 样式 */
.btn_s{
    width: 50px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    border:1px solid #000;
    border-radius: 10px;
    cursor: pointer;
}